// App colors
$theme-color: #28b0a6;
$dark-color: #212529;
$oxford-blue: #1d293f;
$gray-color: #546179;
$cadet-gray-color: hsl(210, 11%, 64%);
$yellow-color: #f5a623;
$light-yellow-color: #fef2de;
$white-color: #ffffff;

//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1500px;
$xxx-large: 1920px;

//Hamburger
$hamburger-padding-x: 14px !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: $dark-color !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

//effects
$box-shadow: 0px 32px 84px 0px rgba(14, 86, 124, 0.16);
