.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Poppins", sans-serif !important;
  color: $cadet-gray-color !important;
  font-size: 1.125rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 111.111%;
  text-decoration-line: underline;
  border: none;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
}
